{% extends 'dbwebform/base.html' %}

{% block extra_links %}{% block index_links %}{% endblock %}{% endblock %}

{% block content %}
    {% block index_pre_content %}{% endblock %}
	<form method="post" class="form">
        {{ form.as_p() }}
        <button class="btn btn-hren" type="submit">Подтвердить</button>
    </form>
    {% block index_post_content %}{% endblock %}
{% endblock %}

{% block extra_scripts %}
    <script src="/static/test.js"></script>
	<script>input_form_control_unline(document.querySelector('.form'))</script>
    {% block index_scripts %}{% endblock %}
{% endblock %}
